*{
    box-sizing: border-box;
}
body{
    background: yellow;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
main{
    width: 29rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    position: relative;
    }
.inner{
    margin-top: -.1rem;
    width: 25rem;
    height: 15rem;
    background-color: orange;
}
#value1{
    top: 5px;
    left: 5px;
}
#value2{
    top: 5px;
    right: 5px;
    }
    
    #value3{
   bottom: 5px;
    right: 5px;
}
#value4{
    bottom: 5px;
    left: 5px;
}
#value1,#value2,#value3,#value4{
    position:absolute;
    width: 2rem;
    height: 1rem;
    font-size: 10px;
    outline: none;
}
div{
    margin-top: 2rem;
    display:flex;
    gap: 10px;    
}
#display{
background-color: white;
width: 25rem;
text-align: center;
border: 2px solid green;
}
#modal{
    display: none;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    width: 60%;
    height: 30%;
    background: rgba(178, 240, 10, 0.9);
    }